body {
    margin: auto;
}

p {
    color: red;
}

img {
    width: 100%;
    border-radius: 4px;
}

.img {
    margin-top: 10px;
}

.container-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-width: 600px;

}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: black;
    background-image: linear-gradient(to right, black, rosybrown);
}

.container-cards {
    display: flex;
}

.container-card {
    display: flex;
    flex-direction: column;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    /*background-color: gray;*/
    background-color: rosybrown;
    /*background-image: linear-gradient(white, gray);*/

    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-style-two {
    background-image: linear-gradient(to right, rgba(100, 77, 77), rgba(137, 104, 104));

}

.card-style-one {
    background-image: linear-gradient(to right, rgba(75, 57, 47), rgba(100, 77, 77));
}

.card-img {
    width: 290px;
    /*height: 200px;*/
    align-content: center;
    margin: auto;
}

.card-two {
    margin-bottom: 20px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: solid 2px #8B6B6B;
    color: black;
    text-align: center;
    /*font-size: 28px;*/
    padding: 10px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:hover{
    background-color: #8B6B6B;
    color: white;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 10px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}
